<p id="notice"><%= notice %></p>

<div>
  <h2><%= @ebay_username %></h2>
</div>

<div id="auth-token-detail">
  <h3>Auth Token</h3>
  <p>
    <strong>Token:</strong>
    <%= @ebay_account.auth_token[0...20] %>...
  </p>

  <p>
    <strong>Expires:</strong>
    <%= @ebay_account.auth_token_expiry_time %>
  </p>

  <p>
    <strong>Status:</strong><%= @ebay_account.ebay_user_status %>
  </p>

  <p>
    <strong>Number of items:</strong><%= @count %>
  </p>
</div>

<%= link_to 'Edit', edit_ebay_account_path(@ebay_account) %> |
<%= link_to 'Back', ebay_accounts_path %>
